$font: "Arial Black", Gadget, sans-serif;

::selection { background-color: #C3CFE2; }

body {
  /*
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
  */
}

/* Quitar los -webkit y poner el bueno */

.text {	
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		size: 1em;
		family: $font;
	};
}

.header {
	text-transform: uppercase;
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font: {
		size: 6em;
		family: $font;
	};
}